#projects {
  .item {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h2 {
    margin-bottom: 30px;
  }
  .img {
    display: block;
    height: 200px;
    opacity: 0.3;
    transition: all 0.3s ease 0s;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }

    &:hover {
      opacity: 1;
    }
    &.yuristi {
      background: url("../images/yuristi.jpg") no-repeat 50% 50%;
      background-size: cover;
    }
    &.kasablanka {
      background: url("../images/kasablanka.png") no-repeat 50% 50%;
      background-size: cover;
    }
    &.tesoro {
      background: url("../images/tesoro.jpg") no-repeat 50% 50%;
      background-size: cover;
    }
  }
}